In [3]:
import ast

l = list(map(int,input().split())) 
k = int(input())
count = 0

for i in range(len(l)-1):
    for j in range(i+1):
        if l[i] == k:
            count += 1
        elif l[i]+l[j] == k:
            count += 1
        else:
            pass
        
print(count)

2 4 6 1 3
6
4

In [6]:
class Solution:
    def solve(self, nums, k):
        table = [1] + [0] * k

        for num in nums:
            for i in range(num, k + 1):
                table[i] += table[i - num]

            return table[k]

ob = Solution()
nums = list(map(int,input().split()))
k = int(input())
print(ob.solve(nums, k))

2 4 6 1 3
6
1

In [3]:
n=1
for i in range(1,n):
    print("Hello")

In [31]:
thislist = {"apple", "banana", "cherry"}
thistuple = {"kiwi", "orange"}

thislist.add(thistuple)

print(thislist)

TypeError: unhashable type: 'set'

In [8]:
list1 = ["koti"]

In [9]:
type(list1)

list

In [12]:
tuple1 = ("koti",)

In [13]:
type(tuple1)

tuple

In [17]:
print(tuple1)

('koti',)

In [19]:
fruits = ("apple", "banana", "cherry", "strawberry", "raspberry")

(green, *yellow, red) = fruits

print(green)
print(yellow)
print(red)

apple
['banana', 'cherry', 'strawberry']
raspberry

In [28]:
thisset = {"apple", "banana", "cherry"}

thisset.add("orange")

print(thisset)

TypeError: set.add() takes exactly one argument (2 given)

In [44]:
child1 = { "koti", "reddy" }
child2 = {
  "name" : "Tobias",
  "year" : 2007
}
child3 = {
  "name" : "Linus",
  "year" : 2011
}

myfamily = {
  "child1" : child1,
  "child2" : child2,
  "child3" : child3
}

In [45]:
myfamily["child1"][1]

TypeError: 'set' object is not subscriptable